body {

    margin: 0;
    padding: 0;
    background: url(fondo/fondocontacto.jpg.jpg);
    background-size: cover;
    background-position: center;
    font-family: serif;

}

.social-bar {

    position: fixed;
    right: 0;
    top: 20%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;

}

.icon {

    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;

}

.icon-facebook {
    background: #2E406E;

}

.icon-twitter {
    background: #339DC5;
}

.icon-youtube {
    background: #E83028;
}

.icon-instagram {
    background: #3F60A5;

}

.icon :first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.contactar {

    position: fixed;
    left: 0;
    top: 20%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    Z-index: 100;

}

section{

    border: 1px solid white;
    font-weight: bold;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 500px;
    padding-right: 10px;

}

p{

    font-family: 'Abril Fatface', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Serif', serif;
    color:beige;
    right: 500px;
    padding: 10px;
    margin: 20px;
    
}

ul{

    font-family: 'Abril Fatface', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Serif', serif;
    color:beige;
    font-weight: 300px;
    padding: 10px;
    margin: 20px;

}